body {
    font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 50px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 100px;
    font-size: 18px;
}

.logo {
    display: flex;
    margin-left: 50px;
    color: #F9FAF8;
    font-size: 24px;
}

.hero {
    background-color: #1F2937;
    padding-left: 50px;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    max-width: 300px;
    flex-wrap: wrap;
}

.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 300px;
    flex-wrap: wrap;
}

.button {
    background-color: #3882F6;
    height: 50px;
    width: 100px;
    border: 1px solid royalblue;
    color: white;
    border-radius: 10px;
}

.hero-container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    background-color: white;
}

.square {
    max-width: 200px;
    max-height: 200px;
}

.sq-cont {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

img {
    border: 5px solid royalblue;
    border-radius: 10px;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    max-width: 1000px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light-italic;
    color: #1F2937;
}

.quote-cont {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    height: 500px;
}