body {
    font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 200px;
}
    
a {
    text-decoration: none;
    color: #E5E7EB;
}
    
ul {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
}
    
.placeholder {
    display: flex;
    padding: 100px 200px;
    background-color: gray;
    color: white;
}
    
.logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}
    
.hero {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    gap: 30px;
}
    
.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    max-width: 600px;
    flex-wrap: wrap;
}
    
.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 600px;
    flex-wrap: wrap;
}
    
.button1 {
    background-color: #3882F6;
    height: 40px;
    width: 150px;
    border: 1px solid royalblue;
    color: white;
    border-radius: 10px;
    
}
    
.hero-container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 100px 190px;
}
    
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 750;
    color: #1F2937;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 50px;
}
    
.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    max-height: 250px;
    
}
    
.sq-cont {
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 75px;
    margin-bottom: 100px;
}
    
img {
    border: 5px solid royalblue;
    border-radius: 10px;
}
    
.quote {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    max-width: 1000px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light-italic;
    color: #1F2937;
}
    
.quote-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 500px;
    padding-left: 100px;
    margin-bottom: 100px;
}
    
.bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
    
.blue-cont {
    display: flex;
    background-color: #3882F6;
    max-width: 2000px;
    max-height: 500px;
    justify-content: center;
    gap: 400px;
    align-items: center;
    padding: 10px 50px;
    color: white;
    border-radius: 10px;
}
    
.button2 {
    background-color: #3882F6;
    height: 50px;
    width: 100px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    
}
    
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 110px;
    position: relative;
    bottom: 0; 
}
    
.mega {
    display: flex;
    flex-direction: column;
    margin: 0px;
}